<div class="container">
    <h2>User Settings</h2>

    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
        <div class="form-group">
            <label for="Name">Name</label>
            <input type="text" id="name" name="name" class="form-control" 
                   [(ngModel)]='userSettings.name' required #nameField="ngModel"
                   (blur)="onBlur(nameField)"
                   [class.field-error]="form.submitted && nameField.invalid">
            <div [hidden]="!form.submitted || nameField.valid"
                 class="alert alert-danger">
                Enter name
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" name="singleModel"
            [(ngModel)]="singleModel" btnCheckbox 
            btnCheckboxTrue='On' btnCheckboxFAlse='Off'>
                {{ singleModel }}
            </button>
        </div>


        <div class="form-check form-group">
            <input type="checkbox" class="form-check-input" id="emailOffers" name="emailOffers" [(ngModel)]="userSettings.emailOffers">
            <label for="emailOffers" class="form-check-label">Email Special Offers</label>
        </div> 

        <div class="row form-group">
            <div class="col-xs-12 col-12 col-md-4 form-group">
              <input type="text"
                     placeholder="Datepicker"
                     class="form-control"
                     [(ngModel)]="startDate" name="startDate" id="startDate"
                     bsDatepicker>
            </div>
        </div>

        Start Date: {{ startDate }}

        <p>User Interface Style</p>
        <div class="form-group">

            <div class="btn-group">
                <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
                       btnRadio="Light" tabindex="0" role="button">Light</label>
                <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
                       btnRadio="Medium" tabindex="0" role="button">Medium</label>
                <label class="btn btn-primary" [(ngModel)]="userSettings.interfaceStyle"
                       btnRadio="Dark" tabindex="0" role="button">Dark</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle1" value="option1" [(ngModel)]="userSettings.interfaceStyle">
                <label class="form-check-label" for="interfaceStyle1">
                    Light
                </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle2" value="option2" [(ngModel)]="userSettings.interfaceStyle">
                    <label class="form-check-label" for="interfaceStyle2">
                        Medium
                    </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="interfaceStyle" id="interfaceStyle3" value="option3" [(ngModel)]="userSettings.interfaceStyle"> 
                    <label class="form-check-label" for="interfaceStyle3">
                        Dark
                    </label>
            </div>
        </div>

        <div class="form-group">
            <label for="subscriptionType">Example select</label>
            <select class="form-control" name="subscriptionType" id="subscriptionType" [(ngModel)]="userSettings.subscriptionType">
              <option *ngFor="let type of subscriptionTypes | async">
                  {{ type }}
              </option>
            </select>
        </div>

        <div class="form-group">
            <label for="notes">Notes</label>
            <textarea name="notes" id="notes" rows="3" class="form-control" [(ngModel)]="userSettings.notes"></textarea>
        </div>

        <div [hidden]="!postError" class="alert alert-danger">
            {{ postErrorMessage }}
        </div>
        <button class="btn btn-primary">Send</button>
    </form>
</div> 